* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.navbar-nav {
  background: #fff;
  padding: 10px 20px;
  box-shadow: 5px 5px 10px #000;
  width: 100%;
  min-width: 340px;
}

a {
  text-decoration: none;
}

#nav-options {
  justify-content: space-between;
}

#company-name {
  font-size: 20px;
}

#principal-text {
  max-width: 560px;
  width: auto;
  height: auto;
}

#pricing {
  width: auto;
  font-size: 40px;
}

#site-content {
  width: auto;
  max-width: 1000px;
  min-width: 330px;
}

#cabecalho {
  max-width: 1000px;
  width: auto;
  height: auto;
}

#plans-options {
  justify-content: space-around;
  height: 100%;
  width: 100%;
  max-width: 1000px;
}

#plan-free {
  max-width: 300px;
  width: 300px;
  box-shadow: 1px 5px 10px 1px #000;
  height: auto;
  margin: 15px 0;
  border-radius: 5px;
}

#plan-pro {
  max-width: 300px;
  width: 300px;
  box-shadow: 1px 5px 10px 1px #000;
  height: auto;
  margin: 15px 0;
  border-radius: 5px;
}

#plan-enterprise {
  max-width: 300px;
  width: 300px;
  box-shadow: 1px 5px 10px 1px #000;
  height: auto;
  margin: 15px 0;
  border-radius: 5px;
}

#btn-free {
  width: 90%;
  font-size: 18px;
}

#btn-pro {
  width: 90%;
  font-size: 18px;
}

#btn-enterprise {
  width: 90%;
  font-size: 18px;
}

#site-footer {
  width: 100%;
  max-width: 1000px;
  min-width: 750px;
  flex-direction: row;
  padding: 3.5em;
}

#footer-content {
  justify-content: flex-start;
  width: 100%;
}

#first-block {
  flex-direction: column;
  width: 25%
}

#second-block {
  flex-direction: column;
  width: 25%
}

#third-block {
  flex-direction: column;
  width: 25%
}

#fourth-block {
  flex-direction: column;
  width: 25%
}

.price {
  padding: 0 5px;
  font-size: 40px;
}

.month {
  padding: 0 5px;
  color: grey;
  font-size: 28px;
}

.price-flex {
  justify-content: center;
}

.plan {
  font-size: 32px;
}

@media(max-width: 700px) {
  #nav-options {
    flex-direction: column;
  }

  #sign-up {
    margin-top: 10px;
  }

  #site-options {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media(max-width: 900px) {
  #plans-options {
    flex-direction: column;
    width: 300px;
    
  }
}

/* @media(max-width: 560px) {
  #principal-text {
    margin: 0 !important;
  }
} */