* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#nav-bar {
  background: #fff;
  height: auto;
  display: flex;
  justify-content: space-between;
}

#icon-logo {
  margin: auto 10px;
}

#logo-text {
  font-size: 28px;
  color: red;
  padding: 5px 10px;
  font-family: sans-serif;
}

#search-nav-icon {
  margin: 15px;
}

#first-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
  min-width: 100%;
  background-image: url('./imagens/london.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#head-selection {
  display: flex;
  height: auto;
  width: 100%;
  margin: auto auto;
  justify-content: space-around;
}

#flight-text {
  color: #fff;
  font-size: 20px;
  max-width: auto;
  padding: auto 5px;
  margin: auto 0;
  font-weight: normal;
}

#hotel-text {
  color: #fff;
  font-size: 20px;
  max-width: 33%;
  padding: auto 5px;
  margin: auto 0;
  font-weight: normal;
}

#rental-text {
  color: #fff;
  font-size: 20px;
  max-width: 33%;
  padding: auto 5px;
  margin: auto 0;
  font-weight: normal;
}

#flight-icon {
  margin: 5px 10px;
  padding: 5px 0;
}

#hotel-icon {
  margin: 5px 10px;
  padding: 5px 0;
}

#rental-icon {
  margin: 5px 10px;
  padding: 5px 0;
}

#flight-field {
  display: flex;
  background: red;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#hotel-field {
  display: flex;
  background: black;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#rental-field {
  display: flex;
  background: black;
  justify-content: center;
  height: 100%;
  width: 100%;
}


#select-field {
  height: auto;
  width: 70%;
  min-width: 700px;
  background: white;
}

#background {
  width: 75%;
  height: 75%;
}

#travel-title {
  height: auto;
  width: 100%;
  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 25px 15px 10px 15px;
}

.label {
  width: 45%;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px 15px 5px 15px;
  margin: 0 auto 0 0;
}

#search-box {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

#from, #to {
  width: 48%;
  padding: 10px;
  margin: 0 auto 0 15px;
  font-size: 18px;
}

#button-search {
  margin: 20px 15px 40px 15px;
  padding: 10px;
  font-size: 18px;
  background: grey;
  color: #fff;
  border: 1px solid #000;
  font-family: 'Segoe UI', Tahoma, sans-serif
}

.first-section-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.titles {
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 15px 0;
}

.subtitles {
  padding-bottom: 10px;
}

#section-2, #section-3 , #section-4 {
  max-width: 80%;;
  width: 80%;
  height: auto;
  margin: 10px auto;
}

#chinqueterre {
  max-width: 50%;
  width: 50%;
  height: auto;
  padding: 5px 5px 5px 0;
}

.four-by-four {
  width: 50%;
  height: 50%;
  padding: 5px;
}

#four-by-four {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.norway-austria {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#norway, #austria {
  width: 100%;
  height: auto;
  margin-right: 5px;
  background: rgb(255, 243, 243)
}

#norway > img, #austria > img {
  width: 100%;
  height: 60%;
}

.inside {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gray {
  color: rgb(136,136,136)
}

.pad {
  font-size: 1.1rem;
  padding: 15px 0 20px 20px;
}

#email-case {
  background: rgb(58, 58, 58);
  height: auto;
}

#email-field {
  width: 95%;
  padding: 5px;
  font-size: 20px;
  margin: 2px 10px 15px 15px;
}

#email-label {
  width: 100%;
}

.adjust {
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background: red;
  color: white;
  font-size: 1.1rem;
}